<div class="container">
  <div class="form-container">
    <form>
      <div class=" form-above">
        <label for="name">i want to create a</label>
        <input type="text" id="name" name="name">
      </div>
      <div class="form-above">
        <label for="in">in</label>
        <input type="text" id="in" name="in">
      </div>
      <div class="form-above">
        <label for="lightning">With </label>
        <input type="text" id="lightning" name="lightning">
        <label for="lightning"> lighting</label>

      </div>
      <div class="form-group">
        <label for="colour">Color</label>
        <input type="text" id="colour" name="colour">
      </div>
      <div class="form-group">
        <label for="materials">Materials</label>
        <input type="text" id="materials" name="materials">
      </div>
      <div class="form-group">
        <label for="specifications">Other Specifications</label>
        <input type="text" id="specifications" name="specifications">

      </div>
      <button type="submit" class="btn btn-primary">Build Space</button>


    </form>

    <hr>
    <p>Shortlisted images (0 images)</p>
  </div>
  <div class="image-container">
    <div class="horizontal-images">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9bCW69PfY3Tw0kIDIf68kz-g9MKNyBYKlOg&usqp=CAU">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dqsK_DtOTkRpPzxizhBTVpTnlusWPzKhdw&usqp=CAU">
    </div>
    <div class="horizontal-images">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUSir53AZY65uy5otg7wCnmeanR92kbj9SHg&usqp=CAU">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3qEVd9P9o3sTYkLsS81zmL5Ko5WeaFJSRgQ&usqp=CAU">
    </div>
  </div>
</div>
